only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=prisma
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=esbuild
only-built-dependencies[]=@nestjs/cli
only-built-dependencies[]=@parcel/watcher
